<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Articles</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th span="1" style="width: 10%">Created at</th>
              <th span="1" style="width: 10%">Title</th>
              <th span="1" style="width: 80%">Content</th>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <td>
                  {{ post.createdAt }}
                </td>
                <td>
                  {{ post.title }}
                </td>
                <td class="text-wrap">
                  {{ post.content }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
