<div class="row">
  <!-- FIRST COLUMN -->
  <div class="col-md-6">
    <div class="card login-page bg-white shadow rounded border-0">
      <div class="card-body">
        <h4 class="card-title text-center">Español</h4>
        <form
          class="login-form mt-4"
          [formGroup]="spanishForm"
          (ngSubmit)="onSubmitSpanish()"
        >
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group position-relative">
                <label>Titulo<span class="text-danger">*</span></label>
                <i-feather name="user" class="fea icon-sm icons"></i-feather>
                <input
                  type="text"
                  class="form-control pl-5"
                  placeholder="Titulo"
                  formControlName="title"
                  name="title"
                  required
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group position-relative">
                <label>Contenido<span class="text-danger">*</span></label>
                <i-feather name="key" class="fea icon-sm icons"></i-feather>
                <textarea
                  class="form-control pl-5"
                  placeholder="contenido"
                  formControlName="content"
                  name="content"
                  required
                ></textarea>
              </div>
            </div>
            <div class="mb-3 col-lg-12">
              <label for="formFile" class="form-label"
                >Default file input example</label
              >
              <input
                class="form-control"
                type="file"
                id="formFile"
                (change)="onFileSelectedSpanish($event)"
              />
            </div>
            <div class="col-lg-12 mb-0">
              <button class="btn btn-primary btn-block" type="submit">
                <!-- <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1 tex-danger"
                >
                </span> -->
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- SECOND COLUMN -->
  <div class="col-md-6">
    <div class="card login-page bg-white shadow rounded border-0">
      <div class="card-body">
        <h4 class="card-title text-center">English</h4>
        <form
          class="login-form mt-4"
          [formGroup]="englishForm"
          (ngSubmit)="onSubmitEnglish()"
        >
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group position-relative">
                <label>Title<span class="text-danger">*</span></label>
                <i-feather name="user" class="fea icon-sm icons"></i-feather>
                <input
                  type="text"
                  class="form-control pl-5"
                  placeholder="Title"
                  formControlName="title"
                  name="title"
                  required
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group position-relative">
                <label>Content<span class="text-danger">*</span></label>
                <i-feather name="key" class="fea icon-sm icons"></i-feather>
                <textarea
                  class="form-control pl-5"
                  placeholder="Content"
                  formControlName="content"
                  name="content"
                  required
                ></textarea>
              </div>
            </div>
            <div class="mb-3 col-lg-12">
              <label for="formFile" class="form-label"
                >Default file input example</label
              >
              <input
                formControlName="picturePath"
                class="form-control"
                type="file"
                id="formFile"
                (change)="onFileSelectedEnglish($event)"
              />
            </div>
            <div class="col-lg-12 mb-0">
              <button class="btn btn-primary btn-block" type="submit">
                <!-- <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1 tex-danger"
                  >
                  </span> -->
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
